# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Deprecated python packaging method
# that may be built when calling build
*.egg
*.egg/
*.egg-info
*.egg-info/

# Python distribution files for PyPI
dist/


# Git files
.git/

# Editor files
.idea

# Log files
*.log
